<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

Intervention packages:

- HS 60%
- HS 60% + MTAT
- HS 60% + MDA
- HS 80% 
- HS 80% + MTAT
- HS 100% 
- HS 100% + MTAT

In [21]:
df_no_interventions = pd.read_csv("endpoints_f679daa9-f15b-ea11-a2c5-c4346bcb1550.csv") #Note: 10 seeds each
df_hs60 = pd.read_csv("endpoints_6ffc3d50-085d-ea11-a2c5-c4346bcb1550.csv")
df_hs60_mtat = pd.read_csv("endpoints_88afbd76-8d62-ea11-a2c5-c4346bcb1550.csv")
# df_h60_mda = pd.read_csv("endpoints_c1b66c38-f562-ea11-a2c5-c4346bcb1550.csv") # ONLY HAS LAST YEAR.  [RESUBMITTED]
# df_hs80 = pd.read_csv("endpoints_bb6b0a20-c563-ea11-a2c5-c4346bcb1550.csv") # ONLY HAS LAST YEAR.  resubmit
# df_hs80_mtat = pd.read_csv("endpoints_5a2c10c0-0163-ea11-a2c5-c4346bcb1550.csv") # ONLY HAS LAST YEAR.  resubmit
# df_hs100 = (SAME AS df_hs80)
# df_hs100_mtat = (SAME AS df_hs100_mtat)

In [22]:
df_hs80_mtat.describe()

,year,cases,infections,EIR,avg_RDT_prev,received_treatment,received_test,received_RCD_drugs,received_campaign_drugs,arab,funest,o5_hs_rate,Run_Number,u5_hs_rate,x_Vector_Migration_Local
count,13600.0,13600.000000,13600.000000,13600.000000,13600.000000,13600.000000,13600.000000,13600.000000,13600.0,13600.00000,13600.00000,13600.000000,13600.000000,13600.000000,13600.0
mean,0.0,171.031765,661.188897,2.181972,0.037610,217.492500,650.174926,136.662868,0.0,8.12000,7.32000,0.450000,49.500000,0.900000,10.0
std,0.0,237.728834,1098.406688,4.350508,0.054649,186.769576,325.451441,107.762789,0.0,0.39257,0.39257,0.050002,28.867131,0.100004,0.0
min,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,7.45000,6.65000,0.400000,0.000000,0.800000,10.0
25%,0.0,8.000000,12.000000,0.021619,0.001273,34.000000,394.750000,27.000000,0.0,7.78500,6.98500,0.400000,24.750000,0.800000,10.0
50%,0.0,55.000000,95.000000,0.203423,0.009726,192.000000,770.000000,130.000000,0.0,8.12000,7.32000,0.450000,49.500000,0.900000,10.0
75%,0.0,223.000000,683.250000,1.554476,0.048731,365.000000,912.000000,233.000000,0.0,8.45500,7.65500,0.500000,74.250000,1.000000,10.0
max,0.0,956.000000,4867.000000,32.847967,0.220177,676.000000,1210.000000,398.000000,0.0,8.79000,7.99000,0.500000,99.000000,1.000000,10.0

In [ ]:
df_no_interventions["interventions"] = "none"
df_hs60["interventions"] = "hs60_only"
df_hs60_mtat["interventions"] = "hs60_mtat"
df_hs60_mda["interventions"] = "hs60_mtda"
df_hs80["interventions"] = "hs80_only"
df_hs80_mtat["interventions"] = "hs80_mtat"
df_hs100["interventions"] = "hs100_only"
df_hs100_mtat["interventions"] = "hs100_mtat"

In [ ]:
df_list = [
    df_no_interventions, df_hs60, df_hs60_mtat, df_hs60_mda, df_hs80,
    df_hs80_mtat, df_hs100, df_hs100_mtat
]

df_all = pd.concat(df_list, ignore_index=True)

In [37]:
np.linspace(6.64, 8, 69, endpoint=True)

array([6.64, 6.66, 6.68, 6.7 , 6.72, 6.74, 6.76, 6.78, 6.8 , 6.82, 6.84,
       6.86, 6.88, 6.9 , 6.92, 6.94, 6.96, 6.98, 7.  , 7.02, 7.04, 7.06,
       7.08, 7.1 , 7.12, 7.14, 7.16, 7.18, 7.2 , 7.22, 7.24, 7.26, 7.28,
       7.3 , 7.32, 7.34, 7.36, 7.38, 7.4 , 7.42, 7.44, 7.46, 7.48, 7.5 ,
       7.52, 7.54, 7.56, 7.58, 7.6 , 7.62, 7.64, 7.66, 7.68, 7.7 , 7.72,
       7.74, 7.76, 7.78, 7.8 , 7.82, 7.84, 7.86, 7.88, 7.9 , 7.92, 7.94,
       7.96, 7.98, 8.  ])